<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>选课主页</title>

    <link rel="stylesheet" type="text/css" href="left-side-menu.css">
    <link rel="stylesheet" type="text/css" href="iconfont.css">

    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="left-side-menu.js"></script>

</head>
<body>

<div class ="top"  style="width: 100%;height: 80px;background-color: #397bc5;left:0;top:0;position: fixed"><h1>恭喜<em style="color:red"><%= user.username %></em>，登陆成功！</h1></div>


<div style="background: beige;width: calc(100% - 60px);    padding-top: 80px;  padding-left: 60px;padding-bottom: 30px" >





</div>
</div>
<div class="left-side-menu" >
    <div class="lsm-expand-btn">
        <div class="lsm-mini-btn">
            <label>
                <input type="checkbox" checked="checked">
                <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="50" cy="50" r="30" />
                    <path class="line--1" d="M0 40h62c18 0 18-20-17 5L31 55" />
                    <path class="line--2" d="M0 50h80" />
                    <path class="line--3" d="M0 60h62c18 0 18 20-17-5L31 45" />
                </svg>
            </label>

        </div>
        <!--        <input type="text">-->
    </div>

    <div class="lsm-container">
        <div class="lsm-scroll" >
            <div class="lsm-sidebar">
                <ul>
                    <li class="lsm-sidebar-item">
                        <a href="javascript:;"><i class="my-icon lsm-sidebar-icon icon_1"></i><span>教师管理</span><i class="my-icon lsm-sidebar-more"></i></a>
                        <ul>
                            <li><a class="active" href="javascript:;"><span>教师名单</span></a></li>
                            <li><a href="/regT"><span>新教师登记</span></a></li>
                            <li><a href="javascript:;"><span>离职教师登记</span></a></li>
                            <li><a href="javascript:;"><span>修改教师信息</span></a></li>
                        </ul>
                    </li>
                    <li class="lsm-sidebar-item">
                        <a href="javascript:;"><i class="my-icon lsm-sidebar-icon icon_2"></i><span>学生管理</span><i class="my-icon lsm-sidebar-more"></i></a>
                        <ul>
                            <ul>
                                <li><a class="active" href="javascript:;"><span>学生名单</span></a></li>
                                <li><a href="javascript:;"><span>添加学生信息</span></a></li>
                                <li><a href="javascript:;"><span>删除学生信息</span></a></li>
                                <li><a href="javascript:;"><span>修改学生信息</span></a></li>
                            </ul>
                        </ul>
                    </li>
                    <li class="lsm-sidebar-item">
                        <a href="javascript:;"><i class="my-icon lsm-sidebar-icon icon_2"></i><span>课程管理</span><i class="my-icon lsm-sidebar-more"></i></a>
                        <ul>
                            <ul>
                                <li><a class="active" href="javascript:;"><span>课程列表</span></a></li>
                                <li><a href="javascript:;"><span>添加课程信息</span></a></li>
                                <li><a href="javascript:;"><span>删除课程信息</span></a></li>
                                <li><a href="javascript:;"><span>修改课程信息</span></a></li>
                            </ul>
                        </ul>
                    </li>
                    <li class="lsm-sidebar-item">
                        <a href="javascript:;"><i class="my-icon lsm-sidebar-icon icon_3"></i><span>退出系统</span><i class="my-icon lsm-sidebar-more"></i></a>
                        <ul>
                            <li><a href="logout"><span>确认退出</span></a></li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

<div style="text-align:center;">
    <p><a href="http://www.haust.edu.cn/" target="_blank">河南科技大学</a></p>
</div>
</body>
</html>