<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>选课主页</title>

    <link rel="stylesheet" type="text/css" href="left-side-menu.css">
    <link rel="stylesheet" type="text/css" href="iconfont.css">
    <link rel="stylesheet" type="text/css" href="main.css">
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="left-side-menu.js"></script>

</head>
<body>

<div class ="top"  ><h1>恭喜<em style="color:red"><%= user.username %></em>，登陆成功！</h1></div>


<div class="main"  >
    <table border="1">
        <tr>
            <th>教师编号</th>
            <th>姓名</th>
            <th>密码</th>
            <th>性别</th>
            <th>简介</th>
            <th>选择</th>
            <th>操作</th>
        </tr>
        <% for(var i=0; i< arr.length; i++){ %>
        <tr>
            <td><input style="width: 50px;border-radius: 4px;border: black 1px solid" disabled="true" class="Cid"  id='Tid<%=i %>' value=<%= arr[i].Tid %>></td>
            <td><%= arr[i].Tname %></td>
            <td><%= arr[i].Tpassword %></td>
            <td><%= arr[i].Tsex %></td>
            <td><%= arr[i].Introduction %></td>
            <td><input name='aa' type='checkbox'  value='<%=i%>' ></td>
            <td><button style="background: #2e6da4;border-radius: 2px;border: #2e6da4 1px solid;width: 50px" type="button" id='btu<%=i %>' onclick="delete_tea()">删除</button></td>
            <input type="text" style="visibility: hidden;" id="teaid" value=<%= user.username %>>
        </tr>
        <% } %>
    </table>
    <script>
        function delete_tea() {
            cc=document.getElementsByName("aa");
            txt="";
            for (i=0;i<cc.length;i++) {
                if (cc[i].checked) {
                    var Tid = "Tid" + i;
                    // var Cname = "cname" + i;
                    // var Ctype = "ctype" + i;
                    // var Cweek = "cweek" + i;
                    // var Ctime = "ctime" + i;
                    // var Cintroduction = "cintroduction" + i;
                    Tid=txt + document.getElementById(Tid).value
                    // Cname=txt + document.getElementById(Cname).value
                    // Ctype=txt + document.getElementById(Ctype).value
                    // Cweek=txt + document.getElementById(Cweek).value
                    // Ctime=txt + document.getElementById(Ctime).value
                    // Cintroduction=txt + document.getElementById(Cintroduction).value
                    $.post("/Admin_delete_tea", {
                        "Tid": Tid,
                        // "Cname": Cname,
                        // "Ctype": Ctype,
                        // "Cweek": Cweek,
                        // "Ctime":Ctime,
                        // "Cintroduction": Cintroduction,
                        // "Tid": $("#teaid").val(),
                    }, function (data) {  // data是服务器返回的数据
                        if (data == "1") {
                            alert("删除信息成功了~")
                        } else {
                            alert("更改信息失败了~")
                        }
                    });
                }
            }
        }
    </script>
</div>

<div class="left-side-menu" >
    <div class="lsm-expand-btn">
        <div class="lsm-mini-btn">
            <label>
                <input type="checkbox" checked="checked">
                <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="50" cy="50" r="30" />
                    <path class="line--1" d="M0 40h62c18 0 18-20-17 5L31 55" />
                    <path class="line--2" d="M0 50h80" />
                    <path class="line--3" d="M0 60h62c18 0 18 20-17-5L31 45" />
                </svg>
            </label>

        </div>
        <!--        <input type="text">-->
    </div>

    <div class="lsm-container">
        <div class="lsm-scroll" >
            <div class="lsm-sidebar">
                <ul>
                    <li class="lsm-sidebar-item">
                        <a href="javascript:;"><i class="my-icon lsm-sidebar-icon icon_1"></i><span>教师管理</span><i class="my-icon lsm-sidebar-more"></i></a>
                        <ul>
                            <li><a class="active" href="/Admin"><span>教师名单</span></a></li>
                            <li><a href="/regT"><span>新教师登记</span></a></li>
                            <li><a href="/Admin_delete_tea"><span>离职教师登记</span></a></li>
                        </ul>
                    </li>
                    <li class="lsm-sidebar-item">
                        <a href="javascript:;"><i class="my-icon lsm-sidebar-icon icon_1"></i><span>学生管理</span><i class="my-icon lsm-sidebar-more"></i></a>
                        <ul>

                            <li><a href="/Admin_student"><span>学生名单</span></a></li>
                            <li><a href="/regS"><span>添加学生信息</span></a></li>
                            <li><a href="/Admin_delete_stu"><span>删除学生信息</span></a></li>
                        </ul>
                    </li>
                    <li class="lsm-sidebar-item">
                        <a href="javascript:;"><i class="my-icon lsm-sidebar-icon icon_1"></i><span>课程管理</span><i class="my-icon lsm-sidebar-more"></i></a>
                        <ul>

                            <li><a href="/Admin_course"><span>课程列表</span></a></li>
                            <li><a href="/regC"><span>添加课程信息</span></a></li>
                            <li><a href="/Admin_delete_course"><span>删除课程信息</span></a></li>

                        </ul>
                    </li>
                    <li class="lsm-sidebar-item">
                        <a href="javascript:;"><i class="my-icon lsm-sidebar-icon icon_3"></i><span>退出系统</span><i class="my-icon lsm-sidebar-more"></i></a>
                        <ul>
                            <li><a href="logout"><span>确认退出</span></a></li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="di" style="text-align:center;">
    <p><a href="http://www.haust.edu.cn/" target="_blank">河南科技大学</a></p>
</div>
</body>
</html>