<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>大学生网上选课系统登录</title>
      <link rel="stylesheet"  type="text/css" href="login.css">
    <link rel="stylesheet"  type="text/css" href="bootstrap.min.css">
      <link rel="shortcut icon" href="../public/img/favicon.ico">
</head>
<body>
  <h1>大学生网上选课系统</h1>
  <div class="bgImg">
    <img src="LOGO2.png" alt="logo">
    <!-- <img src="img/logo1.png" alt="logo"> -->
    <div class="loginMain">
    <form action="">
      <p class="form-group" id="userP">
      <label for="user">校园通账号：</label>
      <input type="text" id="user" class="input form-control" name="user" data-container="body" data-toggle="popover" data-placement="top" data-content="请正确输入校园通账号" placeholder="学号或教职工号">
      </p>
      <p class="form-group" id="pswP">
      <label for="password">密码</label>：
      <input type="password" id="password" class="input form-control" name="password" data-container="body" data-toggle="popover" data-placement="top" data-content="请正确填写密码">
      </p>
      <a href="forgetPsw.ejs">忘记密码？</a>
      <p class="lastP">
      <label for="type">请选择身份：</label>
      <select name="typeId" class="input form-control" id="typeId">
        <option value="1">学生</option>
        <option value="2">教师</option>
        <option value="0">管理员</option>
      </select>      
      </p>
      <input type="checkbox" id="remember" name="remember"> <label for="remember">记住我</label>
    </form>
      <button type="button" id="submit" class="btn btn-primary btn-success btn-block">登录<span class="glyphicon glyphicon-circle-arrow-right"></span></button>
    </div>  
  </div></body>
</html>