<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>选课主页</title>

    <link rel="stylesheet" type="text/css" href="left-side-menu.css">
    <link rel="stylesheet" type="text/css" href="iconfont.css">
    <link rel="stylesheet" type="text/css" href="main.css">
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="left-side-menu.js"></script>

</head>
<body>

<div class ="top"  ><h1>恭喜用户<em id="user" style="color:red"><%= user.username %></em>，登陆成功！</h1></div>


<div class="main"  >
    <table id="Tab" name="first">

        <tr>
            <th>课程编号</th>
            <th>课程名称</th>
            <th>课程类别</th>
            <th>课程日期</th>
            <th>课程时间</th>
            <th>教师</th>
            <th>课程简介</th>
            <th>选择</th>
        </tr>

        <% for(var i=0; i< arr.length; i++){ %>

        <tr>
            <td id='cid<%=i%>' name='id'><%= arr[i].Cid %></td>
            <td id='cname<%=i%>' name='cname'><%= arr[i].Cname %></td>
            <td id='ctype' name='ctype'><%= arr[i].Ctype %></td>
            <td id='cweek' name='cweek'><%= arr[i].Cweek %></td>
            <td id='ctime' name='ctime'><%= arr[i].Ctime %></td>
            <td id='cteacher' name='cteacher'><%= arr[i].Tname %></td>
            <td id='ciintroduction' name='ciintroduction'><%= arr[i].Cintroduction %></td>
            <td><input name='aa' type='checkbox'  value='<%=i%>' ></td>
        </tr>

        <% } %>

    </table>
    <!-- <button type="button" οnclick="Check()">提交</button> -->
    <input style="border: blueviolet 1px solid;border-radius: 4px;background-color: blueviolet" id="choosecourse" type="button" onclick="choosecourse()" value="正选">
</div>
<script type="text/javascript">
    function choosecourse(){
        cc=document.getElementsByName("aa")
        txt="";
        for (i=0;i<cc.length;i++){
            if(cc[i].checked) {
                var cid="cid"+i;
                CID=document.getElementById(cid).innerText
                $.post("/choosecourse", { //做post的工作
                    "Cid":CID,
                },function (data) {  // data是服务器向客户端返回的数据info
                    if(data == "1"){
                        alert("正选成功")
                    }else if(data == "-2"){
                        alert("学号重复，请您重新输入！")
                    }else{
                        alert("正选失败")
                    }
                });
            }
        }
    }
</script>

<div class="left-side-menu" >
    <div class="lsm-expand-btn">
        <div class="lsm-mini-btn">
            <label>
                <input type="checkbox" checked="checked">
                <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="50" cy="50" r="30" />
                    <path class="line--1" d="M0 40h62c18 0 18-20-17 5L31 55" />
                    <path class="line--2" d="M0 50h80" />
                    <path class="line--3" d="M0 60h62c18 0 18 20-17-5L31 45" />
                </svg>
            </label>

        </div>
        <!--        <input type="text">-->
    </div>

    <div class="lsm-container">
        <div class="lsm-scroll" >
            <div class="lsm-sidebar">
                <ul>
                    <li class="lsm-sidebar-item">
                        <a href="javascript:;"><i class="my-icon lsm-sidebar-icon icon_1"></i><span>学生信息</span><i class="my-icon lsm-sidebar-more"></i></a>
                        <ul>
                            <li><a  href="/Student"><span>基本信息</span></a></li>
                            <li><a href="./STUupdate"><span>修改个人信息</span></a></li>
                            <li><a href="./SUpassword"><span>修改密码</span></a></li>
                            <!-- <li class="lsm-sidebar-item">
                                <a href="javascript:;"><i class="my-icon lsm-sidebar-icon "></i><span>二级菜单11</span><i class="my-icon lsm-sidebar-more"></i></a>
                                <ul>
                                    <li><a href="javascript:;"><span>地爆天星</span></a></li>
                                </ul>
                            </li>

                            <li class="lsm-sidebar-item">
                                <a href="javascript:;"><i class="my-icon lsm-sidebar-icon "></i><span>二级菜单22</span><i class="my-icon lsm-sidebar-more"></i></a>
                                <ul >
                                    <li><a href="javascript:;"><span>血继限界</span></a></li>
                                </ul>
                            </li> -->
                        </ul>
                    </li>
                    <li class="lsm-sidebar-item">
                        <a href="javascript:;"><i class="my-icon lsm-sidebar-icon icon_2"></i><span>网上选课</span><i class="my-icon lsm-sidebar-more"></i></a>
                        <ul>
                            <li class="lsm-sidebar-item">
                                <a  href="javascript:;"><i class="my-icon lsm-sidebar-icon "></i><span>选课程</span><i class="my-icon lsm-sidebar-more"></i></a>
                                <ul >
                                    <li><a class="active" href="javascript:;"><span>正选</span></a></li>
                                    <li><a href="Student_desselect_course"><span>退选</span></a></li>
                                </ul>
                            </li>
                            <li><a href="/Student_my_course"><span>个人课表</span></a></li>
                        </ul>
                    </li>


                    <li class="lsm-sidebar-item">
                        <a href="javascript:;"><i class="my-icon lsm-sidebar-icon icon_3"></i><span>退出系统</span><i class="my-icon lsm-sidebar-more"></i></a>
                        <ul>
                            <li><a href="logout"><span>确认退出</span></a></li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

<div style="text-align:center;">
    <p><a href="http://www.haust.edu.cn/" target="_blank">河南科技大学</a></p>
</div>
</body>

</html>

