<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>更改密码</title>

    <link rel="stylesheet" type="text/css" href="left-side-menu.css">
    <link rel="stylesheet" type="text/css" href="iconfont.css">
    <link rel="stylesheet" type="text/css" href="main.css">
    <!--<script type="text/javascript" src="jquery.min.js"></script>-->
    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="left-side-menu.js"></script>

</head>
<body>

<div class ="top"  ><h1>恭喜用户<em style="color:red"><%= user.username %></em>，登陆成功！</h1></div>


<div class="main" >
<div style="text-align:center;margin:0 auto;background: white;width: 300px;height: 400px;border-radius: 20px">
    <p style="font-size: 20px;color: #2e6da4;margin-bottom: 50px">在这里更改你的密码：</p>

        <!--<%= user.username %>-->
        <% for(var i=0; i< arr.length; i++){ %>
        <li class="data_li">请输入原密码：<input class="data_ip" type="text" id="current_pwd"></li>
        <li class="data_li" style="margin-top: 25px">修改密码为：<input style="margin-left: 13px" class="data_ip" type="text" id="uppwd"></li>
        <li><input type="text" style="visibility: hidden;" id="stupwd" value=<%= arr[i].StudentPWD %>></li>
        <li><input type="text" style="visibility: hidden;" id="stuid" value=<%= user.username %>></li>
        <li style="margin-top: 45px;margin-left: 175px">
        <button id="change" type="button" style="width:60px;height:35px;background-color: blueviolet; border-radius:3px;border: #afd9ee 1px solid">修改</button>
        </li>
    <% } %>
    </ul>
</div>
</div>

<script>
    $("#change").click(function () {
        if($("#current_pwd").val()== $("#stupwd").val() ){
        $.post("/SUpassword", {
            "stupwd": $("#uppwd").val(),
            "stuid": $("#stuid").val(),
        }, function (data) {  // data是服务器返回的数据
            if (data == "1") {
                alert("更改信息成功了~")
            } else {
                alert("更改信息失败了~")
            }
        });
    }else{
            alert("请确认输入的原密码正确")
        }
    });
</script>

<div class="left-side-menu" >
    <div class="lsm-expand-btn">
        <div class="lsm-mini-btn">
            <label>
                <input type="checkbox" checked="checked">
                <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="50" cy="50" r="30" />
                    <path class="line--1" d="M0 40h62c18 0 18-20-17 5L31 55" />
                    <path class="line--2" d="M0 50h80" />
                    <path class="line--3" d="M0 60h62c18 0 18 20-17-5L31 45" />
                </svg>
            </label>

        </div>
        <!--        <input type="text">-->
    </div>

    <div class="lsm-container">
        <div class="lsm-scroll" >
            <div class="lsm-sidebar">
                <ul>
                    <li class="lsm-sidebar-item">
                        <a href="javascript:;"><i class="my-icon lsm-sidebar-icon icon_1"></i><span>学生信息</span><i class="my-icon lsm-sidebar-more"></i></a>
                        <ul>
                            <li><a href="./Student"><span>基本信息</span></a></li>
                            <li><a href="./STUupdate"><span>修改个人信息</span></a></li>
                            <li><a class="active" href="./SUpassword.html"><span>修改密码</span></a></li>
                            <!-- <li class="lsm-sidebar-item">
                                <a href="javascript:;"><i class="my-icon lsm-sidebar-icon "></i><span>二级菜单11</span><i class="my-icon lsm-sidebar-more"></i></a>
                                <ul>
                                    <li><a href="javascript:;"><span>地爆天星</span></a></li>
                                </ul>
                            </li>

                            <li class="lsm-sidebar-item">
                                <a href="javascript:;"><i class="my-icon lsm-sidebar-icon "></i><span>二级菜单22</span><i class="my-icon lsm-sidebar-more"></i></a>
                                <ul >
                                    <li><a href="javascript:;"><span>血继限界</span></a></li>
                                </ul>
                            </li> -->
                        </ul>
                    </li>
                    <li class="lsm-sidebar-item">
                        <a href="javascript:;"><i class="my-icon lsm-sidebar-icon icon_2"></i><span>网上选课</span><i class="my-icon lsm-sidebar-more"></i></a>
                        <ul>
                            <li class="lsm-sidebar-item">
                                <a href="javascript:;"><i class="my-icon lsm-sidebar-icon "></i><span>选课程</span><i class="my-icon lsm-sidebar-more"></i></a>
                                <ul >
                                    <li><a href="/Student_select_course"><span>正选</span></a></li>
                                    <li><a href="Student_desselect_course"><span>退选</span></a></li>
                                </ul>
                            </li>
                            <li><a href="/Student_my_course"><span>个人课表</span></a></li>
                        </ul>
                    </li>


                    <li class="lsm-sidebar-item">
                        <a href="javascript:;"><i class="my-icon lsm-sidebar-icon icon_3"></i><span>退出系统</span><i class="my-icon lsm-sidebar-more"></i></a>
                        <ul>
                            <li><a href="logout"><span>确认退出</span></a></li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

<div style="text-align:center;">
    <p><a href="http://www.haust.edu.cn/" target="_blank">河南科技大学</a></p>
</div>
</body>
</html>