/**{*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/

body{
    background-size: auto;
    padding-top: 44px;
    padding-bottom: 49px;
}

header{
    background: blueviolet;
    line-height: 44px;
    width: 100%;
    font-size: 22px;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
}
header img{
    background-size: cover;
}
header span{
    color: white;
}

.first_div{
    width: 100%;
    background: white;
    height: 300px;
}
.show_div{
    float: left;
    width: 50%;
    margin-left: 10px;
}
.instro_div{
    margin-top: 5px;
    margin-left: 10px;
    background: white;
    height: 285px;
}
.img_div{
    padding-top: 5px;
    float: right;
    width: 40%;
    height: available;
    padding-right: 10px;
}

footer{
    background: black;
    display: table;
    width: 100%;
    height: 50px;

    left: 0;
    bottom: 0;
    position: fixed;
}

footer a{
    text-decoration: none;
    display: table-cell;
    width:20%;
    text-align: center;
    vertical-align: middle;
}

footer a img{
    width: 18px;
}

footer a span{
    display: block;
    color: white;
    font-size: 12px;
}