table {
    text-align: center;
    width: 500px;
    height: 200px;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Futura, Arial, sans-serif;
}


th,td {
    padding: .65em;
}

th {
    background: rgb(85, 85, 85) ;
    color: #fff;
}

/* tbody tr:hover {
    background: linear-gradient(#fff,#aaa);
    font-size: 17px;
} */

tbody tr:nth-child(odd) {
    background: rgb(93, 218, 250);
}

th:first-child {
    border-radius: 9px 0 0 0;
}

th:last-child {
    border-radius: 0 9px 0 0;
}

tr:last-child td:first-child {
    border-radius: 0 0 0 9px;
}

tr:last-child td:last-child {
    border-radius: 0 0 9px 0;
}

h1,h3 {
    text-align: center;
}
.top{
    width: 100%;height: 80px;background-color: beige;left:0;top:0;position: fixed;text-align: center;
}
.main{
    background: #E2E2E2;width: calc(100% - 60px);    padding-top: 80px;  padding-left: 60px;padding-bottom: 30px;text-align: center;
}
/*.d div{*/
    /*text-align:center;padding-bottom: 30px;text-align:center;*/
/*}*/
#choosecourse{
    margin:20px 0;
    letter-spacing: .8em;
    font-size: 18px;
    text-align: center;
    background: rgb(93, 218, 250);

    font-family: Futura, Arial, sans-serif;
}